################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diffinitely/bin/Debug/net472
/Diffinitely/obj
